body {
  height: 100%;
  background-image: url(./img/art-rachen-yJpjLD3c9bU-unsplash.jpg);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: center;
}

.whiteCharacter {
  color: white;
}

.textbox {
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  margin-bottom: 5rem;
}

.calcDiv {
  text-align: center;
}
